.login {
  max-width: 300px;
  margin: 1em auto;
}

.login .hidden {
  display: none;
}

.login label,
.login label span {
  display: block;
}

.login label,
.login input[type=checkbox],
.login input[type=submit] {
  margin: 0 0 1em;
  cursor: pointer;
}

.login-center {
  text-align: center;
}

.login input:disabled {
  cursor: not-allowed;
}
